.transactionHistory {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
}

.transactionHistory th,
.transactionHistory td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.transactionHistory th {
    background-color: #333;
    color: white;
}

.transactionHistory tr:nth-child(even) {
    background-color: #f2f2f2;
}

.transactionHistory tr:nth-child(odd) {
    background-color: #fff;
}